.DS_Store
.env
.env.*
!.env.example
*.xcuserstate
xcuserdata/
AdmissionCalculator.xcodeproj/xcshareddata/xcschemes/*.xcscheme
DerivedData/
.build/
build/

node_modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

outputs/
